{% extends "navbar.html" %}

{% block title %}★우리만의 diary★{% endblock %}

{% block font %}'Jua', sans-serif{% endblock %}

{% block style %}{% endblock %}




{% block content %}
{% load static %}
<div class="main_body">
    <div class="left_body">
        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img" src="/static/img/Trek_마돈.jpg">
                </div>
                <span class="feed_name_txt">jjh919</span>
            </div>
            <img class="feed_img" src="/static/img/Trek_마돈.jpg">
            <div class="feed_icon">
                <div>
                    <span class="material-icons-outlined">
                        favorite_border
                    </span>
                    <span class="material-icons-outlined">
                        mode_comment
                    </span>
                    <span class="material-icons-outlined">
                        send
                    </span>
                </div>
                <div>
                    <span class="material-icons-outlined">
                        turned_in_not
                    </span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"> <b>좋아요 1,980개 </b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt"> <b> jjh919 </b> 진혁이의 Dream Car~ </p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> jibeen </b> 좀만 기다려 3년 뒤에 사줄게 </span>
                <span class="feed_txt"> <b> Ohjune </b> 짱 멋지다~ </span>
            </div>
        </div>

        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img" src="/static/img/june.jpg">
                </div>
                <span class="feed_name_txt">OhJune</span>
            </div>
            <img class="feed_img" src="/static/img/june.jpg">
            <div class="feed_icon">
                <div>
                    <span class="material-icons-outlined">
                        favorite_border
                    </span>
                    <span class="material-icons-outlined">
                        mode_comment
                    </span>
                    <span class="material-icons-outlined">
                        send
                    </span>
                </div>
                <div>
                    <span class="material-icons-outlined">
                        turned_in_not
                    </span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"> <b>좋아요 20,230,516개</b></p>
            </div>
            <div class="feed_content">
                <p class="feed_txt"> <b>OhJune</b>오늘 나 "오준" 탄생일.</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b>jibeen</b>준이 오빠 생일 축하드려요~!</span>
                <span class="feed_txt"> <b>heesu</b>형 생일 축하드려요 근데 제가 팔씨름 이겼는데 제가 형 아닌가요?</span>
                <span class="feed_txt"> <b>jjh</b>제가 젤 생일 축하드립니다 형님 ㅎㅎ </span>
            </div>
        </div>
    </div>
    <div class="right_body">
        오른쪽화면
    </div>
</div>
{% endblock %}