{% extends "navbar.html" %}

{% block title %}Diary{% endblock %}

{% block style %}

    @font-face {
        font-family: 'SUITE-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
    
    .main_body {
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-left: 150px;
        background-color: #f7f7f7;
    }

    .left_body {
    {#background-color: skyblue;#} margin-right: 100px;
        width: 600px;
        height: 2000px;
        display: flex;
        flex-direction: column;
    }

    .right_body {
    {#background-color: yellow;#} padding-top: 20px;
        width: 300px;
        height: 1000px;
        left: 72%;
        position: fixed
    }

    .feed_box {
        background-color: white;
        width: 580px;
        margin: 10px;
        min-height: auto;
        padding-bottom: 10px;
        border-radius: 15px;
    }

    .feed_img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .feed_content {
        padding: 0px 10px;
    }

    .feed_like {
        padding: 0px 10px;
    }

    .feed_reply {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
    }


    .feed_txt {
        font-size: 16px;
        margin: 20px 15px 10px 15px;
    }

    .feed_icon {
        padding: 5px 5px 0px 5px;
        display: flex;
        justify-content: space-between;
    }

    span {
        padding-right: 5px;
    }

  

    .feed_name {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .feed_name_txt {
        font-size: 14px;
        padding: 0px 10px;
        font-weight: bold;
    }

    .profile_box {
        width: 40px;
        height: 40px;
        border-radius: 70%;
        overflow: hidden;
    }

    .profile_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name_content {
        display: flex;
        flex-direction: column;
    }

    .name_content_txt {
        font-size: 12px;
        padding: 0px 10px;
        font-weight: bold;
        color: lightgray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 190px;
    }

    .big_profile_box {
        width: 60px;
        height: 60px;
        border-radius: 70%;
        overflow: hidden;
    }

    .link_txt {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    .recommend_box {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        align-items: center;
    }

    .comment_box {
        margin: 40px 0 0 5px;
        font-size: 12px;
        font-weight: bold;
        color: lightgray;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1280px) {
        .right_body {
            display: none;
        }
    }


    .modal {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 800px;
        height: 600px;
        position: relative;
    }

    .modal_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    }

    .modal_title_side{
        margin: 5px;
        flex: 0 0 40px;
        text-align: center;
    }

    .modal_image_upload{
        outline: 2px dashed black ;
        outline-offset:-10px;
        transition: all .15s ease-in-out;
        width: 798px;
        height: 548px;
        text-align: center;
        line-height: 548px;
    }

    .modal_image_upload_content{
        outline: 2px dashed black ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width:500px;
        height: 548px;
    }

    .modal_image_content{
        display: flex;
        flex-direction: row;
    }

    .modal_content_write{
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(0, 0, 0, 0.18);;
    }

    .feed_content_textarea{
        resize: none;
        width: 294px;
        border: none;
    }
{% endblock %}


{% block write %}
<button id="add_feed" type="button" onclick="">
    <h3 style="color: #cbc2c4; font-family: 'SUITE-Regular'; font-size: 18px;">
        <b style="margin-right: 5px;">글 작성하기</b>
        <i class="fa-solid fa-pen-to-square fa-beat-fade fa-xl" style="color: #bbb0b2;" onclick=""></i>
    </h3>
</button>
{% endblock %}


{% block content %}
{% load static %}
<div class="main_body">
    <div class="left_body">
            {% for feed in feed_list %}
                <div class="border feed_box">
                    <div class="feed_name">
                        <div class="profile_box">
                            <img class="profile_img" src="/static/img/heart.png">
                        </div>
                        <span class="feed_name_txt" style="color:rgb(134, 118, 99); font-family: 'SUITE-Regular';">{{ feed.user_id }}</span>
                        {% if user.is_authenticated and user.user_id == feed.user_id %}
                            <button class="delete_feed_btn btn btn-sm btn-outline-secondary" style="font-family: 'SUITE-Regular'; border-radius: 15px; padding-left: 6px; font-size:x-small;" data-feed-id="{{ feed.id }}">삭제</button>
                        {% endif %}
                    </div>
                    <img class="feed_img" src="{{ "media/"|add:feed.image }}">
                        <div class="feed_content" style="color:rgb(134, 118, 99); font-family: 'SUITE-Regular';">
                            <p class="feed_txt"> <b style="font-weight: bold ; color:rgb(66, 55, 55);">{{ feed.user_id }}&nbsp&nbsp</b><br> 
                            <div class="feed_txt">
                                {{ feed.content }}</p>
                            </div>    
                        </div>
                </div>
            {% endfor %}
    </div>


    <div class="right_body" style="margin-left: 110px;">
        <div>
            <h3 style="text-align: center; width:200px; height: 30px; padding-top:7px; border-radius:30px; margin-bottom:20px; background-color:rgb(248, 222, 222); font-family: 'SUITE-Regular'; color:#ff656c;">&nbsp&nbsp♥ LUV #hashtag ♥</h3>
        </div>
        <img src="/static/img/wordcloud.png" alt="wordcloud" style="width: 200px;" />
        <br>
        <h3 style="text-align: center; width:200px; height: 30px; padding-top:7px; border-radius:30px; margin-bottom:20px; background-color:rgb(248, 222, 222); font-family: 'SUITE-Regular'; color:#ff656c;">♥ 현재 인기 Chart ♥</h3>
        <iframe aligh="right" src="http://127.0.0.1:8000/keywords/pop/" style="margin-top: 20px; width: 200px; height: 300px;" ></iframe>
</div>


<!-- 모달 이미지 부분-->
<div id="modal_add_feed" class="modal modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div> 새 게시물 </div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                    close
                </span>
            </div>
        </div>
        <div class="modal_image_upload">
            <span style="text-align: center"> 사진을 여기에 끌어다 놓으세요. </span>
            <input type="file" id="image_file_input" accept="image/*" style="display: none;">
            <button id="select_image_button" class="btn btn-primary" style="width: 200px; margin-top: 10px;">사진 선택</button>
        </div>
    </div>
</div>

<!-- 모달 content 부분-->
<div id="modal_add_feed_content" class="modal modal_overlay_content">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div style="margin: 5px"> 새 게시물 </div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                    close
                </span>
            </div>
        </div>
        <div class="modal_image_content">
            <div id="input_image" class="modal_image_upload_content">

            </div>
            <div class="modal_content_write">
                <div class="feed_name">
                    <div class="profile_box">
                        <img id="input_profile_image" class="profile_img" src="/static/img/heart.png">
                    </div>
                    <span id="input_name" class="feed_name_txt"> {{ user.name }} </span>
                </div>
                <div style="height: 440px">
                    <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
                </div>
                <div style="width: 100%; text-align: center">
                    <button id="button_write_feed" type="button" class="btn btn-primary" style="width: 268px"> 공유하기</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>

<script>
    //모달 띄우기 코드
    const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");
    buttonAddFeed.addEventListener("click", e=> {
        modal.style.top = window.pageYOffset + 'px'; // top을 이용해 시작 y 위치를 바꿔줌
        modal.style.display = "flex";
        document.body.style.overflowY = "hidden"; //스크롤 없애기

        console.log(window.pageYOffset + " 위치"); //로그 찍기
    });

    //모달 닫기 코드
    const buttonCloseModal = 
    document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });
    
<!-- jquery 부분(자바스크립트를 단축시킬 수 있음)-->

    $('.modal_image_upload')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    // 이미지 선택 버튼 클릭 시 파일 선택 창 열기
    const selectImageButton = document.getElementById("select_image_button");
    selectImageButton.addEventListener("click", () => {
        const imageFileInput = document.getElementById("image_file_input");
        imageFileInput.click();
    });

    // 파일 선택 시 이미지 미리보기 업데이트
    const imageFileInput = document.getElementById("image_file_input");
    imageFileInput.addEventListener("change", () => {
        const selectedFile = imageFileInput.files[0];
        if (selectedFile && selectedFile.type.match(/image.*/)) {
            const reader = new FileReader();
            reader.onload = function(event) {
                $('.modal_image_upload_content').css({
                    "background-image": "url(" + event.target.result + ")",
                    "outline": "none",
                    "background-size": "contain",
                    "background-repeat": "no-repeat",
                    "background-position": "center"
                });
                $('#modal_add_feed_content').css({
                    display: 'flex'
                });
                $('#modal_add_feed').css({
                    display: 'none'
                });
            };
            reader.readAsDataURL(selectedFile);
        } else {
            console.log('에러'),
            alert('이미지가 아닙니다.');
        }
    });
    
    function dragOver(e){
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
            $(e.target).css({
                "background-color":"black",
                "outline-offset":"-20px"
            });
        } else {
            $(e.target).css({
                "background-color":"white",
                "outline-offset":"-10px"
            });
        }
    };

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();
        console.log(e.dataTransfer)
        console.log(e.originalEvent.dataTransfer)

        e.dataTransfer = e.originalEvent.dataTransfer;

        files = e.dataTransfer.files;
        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }

        if (files[0].type.match(/image.*/)) {
            $('.modal_image_upload_content').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "contain",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
            $('#modal_add_feed_content').css({
                display: 'flex'
            });
            $('#modal_add_feed').css({
                display: 'none'
            });
        } else if (files.length === 0) { // 추가된 부분
            $('#modal_add_feed_content').css({
                display: 'flex'
            });
            $('#modal_add_feed').css({
                display: 'none'
            });
        } else {
            alert('이미지가 아닙니다.');
            return;
        }
    };

    $('#button_write_feed').on('click', ()=>{
        const image = $('#input_image').css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
        const content = $('#input_content').val();
        const profile_image = $('#input_profile_image').attr('src');
        const name = $('#input_name').text();
        const fileInput = document.getElementById("image_file_input");
        const file = fileInput.files[0];

        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);
        fd.append('profile_image', profile_image);
        fd.append('name', name);

        if(image.length <= 0)
        {
            console.log('에러에러')
            alert("이미지가 비어있습니다.");
        }
        else if(content.length <= 0)
        {
            console.log('에러에러')
            alert("설명을 입력하세요");
        }
        else if(profile_image.length <= 0)
        {
            console.log('에러에러')
            alert("프로필 이미지가 비어있습니다.");
        }
        else if(name.length <= 0)
        {
            console.log('에러에러')
            alert("사용자 id가 없습니다.");
        }
        else if(file === null)
        {
            console.log('에러에러')
            alert("파일이 선택되지 않았습니다.");

        }
        else{
            writeFeed(fd);
            console.log(file);
        }
    });


    function writeFeed(fd) {
        $.ajax({
            url: "upload/",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
                console.log(error)
            },
            complete: function() {
                console.log("무조건실행");
                closeModal();
                location.reload();
            }
        })
    };

    function closeModal() {
    const modal = document.getElementById("modal_add_feed");
    modal.style.display = "none";
    document.body.style.overflowY = "visible";
    };

    /*$('.delete_feed_btn').on('click', function() {
        var feedId = $(this).data('feed-id');
        $.ajax({
            url: 'delete/' + feedId + '/',
            type: 'DELETE',
            success: function() {
                $('#feed-' + feedId).remove();
            },
            error: function() {
                console.log("error")
            }
        });
    });*/

    $('.delete_feed_btn').on('click', function() {
        var feedId = $(this).data('feed-id');
        if (confirm("정말로 삭제하시겠습니까?")) {
            $.ajax({
                url: 'delete/' + feedId + '/',
                type: 'DELETE',
                success: function() {
                    // 삭제 성공 시 수행할 작업
                    location.reload();  // 페이지 새로고침
                },
                error: function() {
                    console.log("error")
                }
            });
        }
    });

    $(document).ready(function(){
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        })
    });

</script>
{% endblock %}
