{% extends 'navbar.html' %}
{% block title %}GPT{% endblock %}
<!-- {% block font %}'Dongle', sans-serif{% endblock %} -->
{% block style %}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gowun+Batang&family=Jua&display=swap');
body {
  background-color: #ffddde;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: auto;
}
{% endblock %}
{% block content %}
<div class="row justify-content-center my-4" style="width: 1000px; margin-left:200px;">
    <div class="col-md-7 mt-4">
        <div class="card" style="border-radius:15px;">
            <h1 class="card-header text-center" style="background-color: #FFFAA2; color: rgb(248, 105, 105); border-radius:5px; height: 55px; padding-top: 15px;">연애를 도와주라..♥</h1>
            <div class="card-body">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary mb-3" style="border-radius:10px; background-color: rgb(250, 155, 155); border-color: coral;" onclick="location.href='{% url 'new_chat' %}'">New Chat +</button>
              </div>
              <div class="chat-history mb-3">
                {% for message in messages %}
                  <div class="card mb-2 {% if message.role == 'chat' %}bg-success text-white{% endif %}">
                    <div class="card-body p-2" style="background-color: #fbf9d1; color: rgb(111, 96, 96);">
                      <strong>{{ message.role}}:</strong> {{ message.content|linebreaksbr }}
                    </div>
                  </div>
                {% endfor %}
              </div>
              <form action="." method="POST">
                <!-- this secures the form from malicious attacks during submission -->
                {% csrf_token %}
                <input class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}" id="">
                <label for="temperature" class="form-label">Temperature:</label>
                <input class="form-control mb-2" type="number" step="0.01" min="0" max="2" name="temperature" value="{{ temperature }}" id="temperature">
                <button class="btn btn-success fw-bold" type="submit" style="font-size:27px; width: 100%; border-radius:10px; margin:15px 0px 10px 0px;background-color: rgb(250, 155, 155); border-color: coral;">
                  물어보기♥
                </button>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}